<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>

    <style>
        /* basic styling for the button */
        .button {
            display: inline-block;
            padding: 5px 5px;
            font-size: 16px;
            color: white;
            background-color: #ff1c39;
            text-decoration: none;
            border-radius: 5px;
        }

        .button:hover {
            background-color: #ff0039; /* Button hover color */
        }
    </style>

</head>
<body>

<img src="https://kronos-new-tarento.s3.ap-south-1.amazonaws.com/logo-h_high.png" alt="Icon" style="width: 50px; height: 50px;">
<h1 th:text="${subject}">Email Subject</h1>
<p th:text="${message}">Email Content</p>
<a th:href="${buttonLink}" class="button" th:text="${buttonText}">Clickable Button with custom text</a>
</body>
</html>